# This is an example of the key.properties file required for release builds.
# DO NOT commit the actual key.properties or the keystore (.jks) file!
# Rename this file to "key.properties" and update it with your actual keystore details.

storePassword=YOUR_STORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=YOUR_KEY_ALIAS
storeFile=../YOUR_KEYSTORE_FILE.jks
